* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #d9dcd6;
}

p {
    font-size: 16px;
}


header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 48px;
    display: inline-block;
    
}

span {
    color: #d9dcd6;
}

.nav {
    background: #2a607c;
    padding: 15px 0 15px;
    float: right;
    
}

.nav ul {
    list-style-type: none;
   
}

.nav li {
    display: inline;
    padding: 0px 25px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-right: 35px;
}
a {
    color: #ffffff;
    text-decoration: none;
}


.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    width: 75%;
    margin-left: 15px;
    display: inline-block;
    margin-bottom: 15px;
    position: flex;
    bottom: 15px;
}

.content img {
    max-height: 200px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

#search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #0072BB;
    color: #FFFFFF;
    position: center;
}

#online-reputation-manager {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #0072BB;
    color: #FFFFFF;
   
}

#social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #0072BB;
    color: #FFFFFF;
        
}

.float-right {
    float: right;
    margin-left: 25px;
   
   
}
.float-left {
    float: left;
    margin-right: 25px;
}   


.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height:100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}


.benefits div{
    margin-bottom: 32px;
    color: #ffffff; 
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefits p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0%;
    margin-inline-end: 0%;
}


.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    bottom: 0px;
}

.footer h2 {
    font-size: 20px;
}


